.top-margin{
    margin-top: 20px;
}

.show-message-details,.view-message{
    width: 50%;
}

.show-message-details{
    display: none;
    
}

#result-panel{

    margin-top: 20px;
    
}

#inbox{
    margin-top: 40px;
}